body {
	margin: 0 auto;
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
	color: #2b2b2a;
	min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 980px) 1fr;
}

.container {
	grid-column: 2 / 3;
	background-color: white;
	padding: 20px 40px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__text {
	font-size: 1.2em;
}

.header__text h3 {
	color: #878686;
}

.header__photo {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-right: 30px;
}

a {
	color: #2b2b2a;
}

a:hover {
	color: #878686;
}

.ul_none {
	list-style-type: none;
	padding-left: 0;
}

@media (max-width: 480px) {
	.header {
		flex-direction: column;
	}

	.header__photo {
		margin-right: 0;
	}
}